$breakpoint: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width: 768px)",
  pc: "screen and (min-width: 992px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

/* ===============================================
共通パーツ
=============================================== */

html {
  font-size: 100%;
}

body {
  color: #24292e;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

.site-title {
  line-height: 1px;

  a {
    display: block;
  }
}

.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

@include mq("sp") {
  .wrapper {
    margin-bottom: 70px;
  }

  .site-title {
    margin-top: 20px;
  }

  .sec-title {
    margin-bottom: 40px;
  }
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;

  ul {
    display: flex;
    padding: 10px 0;

    li {
      font-size: 0.9rem;

      &:not(:first-child) {
        margin-left: 30px;
      }

      a {
        color: #24292e;
        transition: all ease 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }

      img.icon {
        width: 20px;
      }
    }
  }
}

@include mq("sp") {
  #header {
    display: block;
    height: 150px;

    nav {
      ul {
        justify-content: center;
      }
    }
  }

  .site-title {
    margin: 30px auto 20px;
    text-align: center;
  }
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;

  img {
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
  }
}

/*-------------------------------------------
About
-------------------------------------------*/

/*-------------------------------------------
Works
-------------------------------------------*/

/*-------------------------------------------
News
-------------------------------------------*/

/*-------------------------------------------
Contact
-------------------------------------------*/

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}
